h1, .h1 {
  text-decoration: underline;
}

p {
  margin-left: 20px;
}

#banner {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #B7B7B7;
}

#banner .navbar-header .navbar-toggle {
  background-color: #fff;
}

#banner .navbar-toggle .icon-bar {
  background-color: #563d7c;
}

#banner .navbar-brand, #banner .navbar-nav > li > a {
  font-weigth: 500;
  color: #333;
}

#banner a.navbar-brand {
  font-size: 24px;
  color: #666;
  text-shadow: 2px 1px 1px rgba(57, 57, 57, 0.29);
}

#search {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 15;
  padding-top: 5px;
}

#search form {
  margin: 0 15px;
  position: relative;
}

#search .form-control {
  width: 210px;
  position: relative;
  top: 5px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#search form #search-btn {
  color: #393939;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 168px;
  top: 2px;
  background: transparent;
}

#main-content {
  margin-top: 20px;
}

.panel-default > .panel-heading {
  background-color: #fff;
}

.panel-title {
  font-size: 18px;
}

#blogs .panel-body {
  padding: 5px 0 5px 0; 
}

.panel-heading {
  padding-left: 5px;
}

.panel-footer {
  background-color: #fff;
  padding: 5px 5px 0px 0px;
}

.avatar {
  padding-top: 12px;
  padding-right: 10px;
}

.avatar img {
  border: 0;
  margin: 0;
  border-radius: 50%;
}

#blogs {
  padding-left: 0;
}

#sidebar {
  padding-right: 0;
}

footer {
  padding-top: 10px;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}

footer .container {
  height: 50px;
  margin-bottom: 10px;
  line-height: 50px;
  color: #a6a6a6;
}

#site-icons {
  font-size: 24px;
}

#site-icons a {
  color: #a6a6a6;
  padding-left: 5px;
}

blockquote {
  border-left: 2px solid #999;
  font-size: 14px;
  padding: 0;
  margin: 10px 5px 10px 5px;
}

blockquote p {
  margin-left: 10px;
}
