---
layout: base
title: index
---
      <div id="blogs" class="col-sm-8">
      {% for post in paginator.posts %}
        <section class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>
          </div>
          <div class="panel-body">
            <bockquote>
              <p>{{ post.perex }}</p>
            </bockquote>
          </div>
          <div class="panel-footer">
            <p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
          </div>
        </section>
        {% endfor %}
        <div class="pagination">
        {% if paginator.previous_page == 1 %}
          <a href="/" class="previous">Previous</a>, 
        {% elsif paginator.previous_page %}
          <a href="{{ site.baseurl }}/page{{paginator.previous_page}}" class="previous">Previous</a>, 
        {% else %}
          <span>Previous</span>, 
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ site.baseurl }}/page{{paginator.next_page}}" class="next ">next</a>.
        {% else %}
          <span>next</span>.
        {% endif %}
          <span> Page {{paginator.page}} of {{paginator.total_pages}}.</span>
        </div>
      </div>
      <div id="sidebar" class="col-sm-4">
        <section class="panel panel-default">
          <div class="panel-heading">
            <span>标签</span>
          </div>
          <div class="panel-body">
            <span><b>jspringbot</b></span>
          </div>
        </section>
      </div>
